<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- new scripts -->
    <title>Frasier</title>
</head>
<body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" >Frasier Fan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/memes/">Memes <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/actors/">Actors</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Episodes
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/episodes/season/1">Season One</a>
                        <a class="dropdown-item" href="/episodes/season/2">Season Two</a>
                        <a class="dropdown-item" href="/episodes/season/3">Season Three</a>
                        <a class="dropdown-item" href="/episodes/season/4">Season Four</a>
                        <a class="dropdown-item" href="/episodes/season/5">Season Five</a>
                        <a class="dropdown-item" href="/episodes/season/6">Season Six</a>
                        <a class="dropdown-item" href="/episodes/season/7">Season Seven</a>
                        <a class="dropdown-item" href="/episodes/season/8">Season Eight</a>
                        <a class="dropdown-item" href="/episodes/season/9">Season Nine</a>
                        <a class="dropdown-item" href="/episodes/season/10">Season Ten</a>
                        <a class="dropdown-item" href="/episodes/season/11">Season Eleven</a>  
                      </div>
                    </li>
                  </ul>
                  <ul class="navbar-nav mr-auto>
                    <li class="nav-item">
                            <% if (user){ %>
                                <a class="nav-link" href="/logout">Logout</a>
                                <% } else { %>
                                    <a class="nav-link" href="/auth/google">Login with Google</a>
                            <% } %>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/fans/profile/">My Profile</a>
                    </li>
                  </ul>
                </div>
              </nav>
   






        