<%- include('../partials/header') %>
<form action="/episodes" method="POST">
<input type="text" name="title" placeholder="title" >
<input type="text" name="seasonNumber" placeholder="season #" >
<input type="text" name="episodeNumber" placeholder="Episode #" >
<input type="text" name="director" placeholder="director" >
<input type="text" name="airDate" placeholder="air Date" >
<input type="text" name="synopsis" placeholder="synopsis" >


<input type="submit">

</form>


<%- include('../partials/footer') %></input>