body{
    padding-top: 70px;
}


.clicked {
    color: purple;
}

.clicked-dis {
    color: darkgoldenrod;
}


.like-dislike {
    display:flex;
}

.meme-post-top {
    display:flex;
    align-content: space-between;
}

.actors-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.actors-index-card {
    width: 20rem;
    height: 65vh;
    margin-bottom: 5vh;
}

.actors-index-photo {
    height: 60%;
    object-fit: cover;
}

.actor-card {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80rem;
    height: 90vh;
}

.actor-image {
    height: 80vh;
    width: 40%;
    object-fit: cover;
}

.meme-card-top {
    margin: 0 auto;
    position: relative;
}

.meme-card {
    /* display: grid;
    grid-template-columns: 2fr 3fr; */
    display:flex;
    flex-direction: column;
    width: 90vw;
    margin-bottom: 30px;
    /* height: 90vh;  */
}
.meme-photo{
    max-height: 80vh;
    width: auto;
    position: relative;
}

.meme-glass {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.meme-like-dislike {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.season-page {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.episode-card {
    width: 17vw;
    height: 10vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.episode-show-page {
    border: 1px solid black;
}

.episode-title {
    display: flex;
    align-items: flex-end;
}

.season-episode {
    margin-left: 40px;
    margin-bottom: 2px;
}

.episode-like-dislike {
    display: flex;
}

.meme-glass-episode {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 25px; 
}
