<%- include('../partials/header') %>
<div class="meme-new-image">
<div class="container">

    <div class="card new-meme-card">
        <div class="card-header text-center">
            Choose Image to Upload
        </div>
        <div class="card-body, new-meme-body">
            <form action="/memes" method="POST" enctype="multipart/form-data">
                <div>
                    <input type="file" id="photo" name="photo" accept="image/*" required>
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div> 
</div>
</div>


<%- include('../partials/footer') %>