<%- include('../partials/header') %>
<div class="container">
    <label for="meme-url">Your Meme's URL</label>
   
    <form action="/memes" method="POST" enctype="multipart/form-data">
        <div>
            <label for="photo">Photo</label>
            <input type="file" id="photo" name="photo" accept="image/*" required>
        </div>
        <input type="submit">



    </form>
    </div>


<%- include('../partials/footer') %>