<%- include('../partials/header') %>
<form action="/episodes" method="POST">
<input type="text" name="photo" placeholder="photo" >
<input type="text" name="name" placeholder="name" >
<input type="text" name="bio" placeholder="bio" >
<input type="text" name="character" placeholder="character" >
<input type="submit">

</form>


<%- include('../partials/footer') %>